<h1 class="winner">Hello from {{ name }}!</h1>
<div class="turn" *ngIf="!winner">
  {{player[turn]+"'s turn"}}
</div >
<h1 class="winner" *ngIf="winner && !isDraw">
  The winner is {{winner}}
</h1>
<h1 class="winner" *ngIf="isDraw">
  The match is draw
</h1>
<div class="div-container">
  <div class="box" (click)="handleTicTacToe(0)">{{ticTacToe[0]}} </div>
  <div class="box" (click)="handleTicTacToe(1)">{{ticTacToe[1]}} </div>
  <div class="box" (click)="handleTicTacToe(2)">{{ticTacToe[2]}}</div>
  <div class="box" (click)="handleTicTacToe(3)">{{ticTacToe[3]}}</div>
  <div class="box" (click)="handleTicTacToe(4)">{{ticTacToe[4]}}</div>
  <div class="box" (click)="handleTicTacToe(5)">{{ticTacToe[5]}}</div>
  <div class="box" (click)="handleTicTacToe(6)">{{ticTacToe[6]}}</div>
  <div class="box" (click)="handleTicTacToe(7)">{{ticTacToe[7]}}</div>
  <div class="box" (click)="handleTicTacToe(8)">{{ticTacToe[8]}}</div>
</div>

<br>

<div>
  <button class="button" (click)="handleReset()">Reset Game</button>
</div>